<div class="text-center">
  <form class="form-signin" (ngSubmit)="signInWithEmailAndPassword()" #signInForm="ngForm">
    <img class="mb-3" src="../../../assets/logo.svg" alt="" width="128" height="128">
    <h1 class="h3 mb-3 font-weight-normal" id="signInPrompt">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Email address"
      required autofocus email>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button type="submit" class="btn btn-lg btn-light btn-block" [disabled]="!signInForm.form.valid">Submit</button>
    <button type="button" class="btn btn-lg btn-light btn-block" (click)="signInWithGoogle()"> <img src="../../../assets/google-logo.svg" width="32"> Sign in with Google</button>
    <button type="button" class="btn btn-light btn-block" (click)="openInfoModal(infoModal)" id="newUserBtn">New to QR Sync?</button>
    <p class="mt-4" id="author">&copy; Emilio Schepis</p>
  </form>
</div>

<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">QR Sync</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>QR Sync is a QR code / barcode scanning application for Android.</p>
    <p>It makes it easy to save QR codes you scan harnessing the power of cloud databases.</p>
    <p>All of your codes are automatically kept in sync across all of your devices, so you can access them wherever you need them.</p>
    <p>This website can be used to access and read your codes from your web browser.</p>
    <p><b>To download the application and create an account, please visit our Google Play Store page.</b></p>
    <a href='https://play.google.com/store/apps/details?id=com.emilioschepis.qrsync'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png' width="240" height="93"/></a>
  </div>
</ng-template>